.header {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  height: 108px;
  display: flex;
  align-items: center;
}

.movies-link {
  background-color: #f4c518;
  border-radius: 2px;
  text-decoration: none;
  padding: 8px 10px;
  font-weight: 600;
}

.search-container {
  height: 48px;
  border: 1px solid rgba(255, 255, 255, 0.08);
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.05);
  width: 720px;
  margin-left: 130px;
  display: flex;
  justify-content: space-between;
  padding: 6px 8px 8px 0;
}

.search-input {
  outline: none;
  border: none;
  background: none;
  color: rgba(255, 255, 255, 0.5);
  flex-grow: 1;
  padding-left: 25px;
}

.search-btn {
  background-color: rgba(255, 255, 255, 0.08);
  border-radius: 3px;
  padding: 7px 13px;
  color: rgba(255, 255, 255, 0.5);
  border: none;
  cursor: pointer;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

.dropdown {
  list-style: none;
  max-height: 200px;
  position: absolute;
  margin-left: 130px;
  padding: 0;
  overflow-y: scroll;
  z-index: 2;
  background-color: #000000;
  width: 720px;
}

.dropdown-result {
  cursor: pointer;
  padding: 6px 8px;
  background-color: rgba(255, 255, 255, 0.08);
}

.dropdown-result:hover {
  background-color: rgba(255, 255, 255, 0.05);
}
